# Example communes

In [13]:
import pandas as pd

comm = pd.read_csv('donnees_communes.csv', sep=';')
comm_min = comm[['REG', 'DEP', 'Région', 'COM']]
comm_min

       REG  DEP                Région    COM
0       84   01  Auvergne-Rhône-Alpes  01001
1       84   01  Auvergne-Rhône-Alpes  01002
2       84   01  Auvergne-Rhône-Alpes  01004
3       84   01  Auvergne-Rhône-Alpes  01005
4       84   01  Auvergne-Rhône-Alpes  01006
...    ...  ...                   ...    ...
34965    4  974            La Réunion  97420
34966    4  974            La Réunion  97421
34967    4  974            La Réunion  97422
34968    4  974            La Réunion  97423
34969    4  974            La Réunion  97424

[34970 rows x 4 columns]

In [15]:
import ntv_pandas

analys = comm_min.npd.analysis()
print(analys.tree())

-1: root-derived (34970)
   1 : DEP (34870 - 100)
      0 : REG (83 - 17)
         2 : Région (0 - 17)
   3 : COM (0 - 34970)

In [16]:
import json
from tab_dataset.dataset import Sdataset

comm_sd = Sdataset(comm_min)
jsn = comm_sd.to_ntv(modecodec='optimize').to_obj(encoded=False)
len(json.dumps(jsn))
#jsn

452227

In [17]:
import cbor2
len(cbor2.dumps(jsn))

271414

In [18]:
len(comm.to_parquet())

889872