# Example communes

In [25]:
import pandas as pd

comm = pd.read_csv("donnees_communes.csv", sep=";")
comm_min = comm[["REG", "DEP", "Région", "COM"]]
comm

,REG,Région,DEP,CODARR,CODCAN,CODCOM,COM,Commune,PMUN,PCAP,PTOT
0,84,Auvergne-Rhône-Alpes,01,2,08,1,01001,L'Abergement-Clémenciat,832,16,848
1,84,Auvergne-Rhône-Alpes,01,1,01,2,01002,L'Abergement-de-Varey,267,6,273
2,84,Auvergne-Rhône-Alpes,01,1,01,4,01004,Ambérieu-en-Bugey,14854,386,15240
3,84,Auvergne-Rhône-Alpes,01,2,22,5,01005,Ambérieux-en-Dombes,1897,24,1921
4,84,Auvergne-Rhône-Alpes,01,1,04,6,01006,Ambléon,113,0,113
...,...,...,...,...,...,...,...,...,...,...,...
34965,4,La Réunion,974,1,04,420,97420,Sainte-Suzanne,24293,245,24538
34966,4,La Réunion,974,3,06,421,97421,Salazie,7243,76,7319
34967,4,La Réunion,974,2,99,422,97422,Le Tampon,81943,925,82868
34968,4,La Réunion,974,4,14,423,97423,Les Trois-Bassins,6899,90,6989
34969,4,La Réunion,974,2,16,424,97424,Cilaos,5390,47,5437

In [31]:
analys = comm.npd.analysis()
print(analys.tree())

-1: root-derived (34970)
   2 : DEP (34870 - 100)
      0 : REG (83 - 17)
         1 : Région (0 - 17)
   3 : CODARR (34961 - 9)
   4 : CODCAN (34911 - 59)
   5 : CODCOM (34062 - 908)
   6 : COM (0 - 34970)
   7 : Commune (2250 - 32720)
   8 : PMUN (29075 - 5895)
   9 : PCAP (34262 - 708)
   10: PTOT (28996 - 5974)

In [27]:
import json
from tab_dataset.dataset import Sdataset

comm_sd = Sdataset(comm_min)
jsn = comm_sd.to_ntv(modecodec="optimize").to_obj(encoded=False)
len(json.dumps(jsn))
# jsn

452227

In [28]:
import cbor2

len(cbor2.dumps(jsn))

271414

In [30]:
len(comm_min.to_parquet())

218847

In [33]:
comm = pd.read_csv("v_commune_2024.csv", sep=",")
comm

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37539,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37540,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37541,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37542,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37543,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN